/* line 12, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* line 22, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
body {
  margin: 0; }

/* line 28, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
main {
  display: block; }

/* line 35, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 46, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 55, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* line 65, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
a {
  background-color: transparent; }

/* line 72, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 80, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/* line 88, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 97, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
small {
  font-size: 80%; }

/* line 104, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 112, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 116, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 125, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
img {
  border-style: none; }

/* line 136, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* line 150, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
input {
  overflow: visible; }

/* line 158, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 165, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/* line 174, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 184, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 193, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/* line 202, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 213, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
progress {
  vertical-align: baseline; }

/* line 219, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
textarea {
  overflow: auto; }

/* line 227, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 235, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 243, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 250, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 257, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* line 267, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
details {
  display: block; }

/* line 273, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
summary {
  display: list-item; }

/* line 282, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
template {
  display: none; }

/* line 288, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[hidden] {
  display: none; }

/* line 2, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
* {
  box-sizing: border-box; }

/* line 6, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
html {
  line-height: 1.1; }

/* line 10, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #333645; }

/* line 17, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
ul {
  padding-left: 0;
  margin: 0; }

/* line 22, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
li {
  list-style: none; }

/* line 26, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
a {
  text-decoration: none; }

/* line 30, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
h2 {
  margin: 0;
  padding: 0; }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.9375em; }

@media (min-width: 767px) {
  /* line 7, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 750px; } }

@media (min-width: 991px) {
  /* line 13, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 970px; } }

@media (min-width: 1259px) {
  /* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 1200px; } }

/* line 24, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
.section {
  padding-top: 3.125em;
  padding-bottom: 3.125em; }

/* line 6, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer-section {
  color: #fff;
  background: #333645;
  padding: 2.9375em 0 2.6875em;
  line-height: 1.375em; }

/* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 1259px) {
    /* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
    .footer__row {
      justify-content: space-between; } }

/* line 26, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__services, .footer__offices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 14.0625em; }

@media (min-width: 991px) {
  /* line 33, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__services {
    column-gap: 10.3125em; } }

@media (min-width: 1259px) {
  /* line 33, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__services {
    column-gap: normal; } }

@media (min-width: 991px) {
  /* line 38, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__offices {
    column-gap: 5.625em; } }

@media (min-width: 1259px) {
  /* line 38, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__offices {
    column-gap: normal; } }

/* line 45, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__service, .footer__office {
  min-width: 14.0625em;
  margin-bottom: 1.875em; }

/* line 53, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__service > h4, .footer__office > h4 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 1.625em;
  font-size: 1em;
  font-weight: 400; }

/* line 61, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__service > ul > li, .footer__office > ul > li {
  font-size: 0.8125em; }
  /* line 63, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__service > ul > li > a, .footer__office > ul > li > a {
    color: #fff; }
    /* line 113, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .footer__service > ul > li > a:hover, .footer__office > ul > li > a:hover {
      text-decoration: underline; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__bottom {
  display: flex;
  border-top: 1px solid #888;
  justify-content: space-between;
  padding-top: 0.625em;
  margin-top: 0.625em;
  font-size: 0.8125em; }

/* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__license {
  display: flex;
  padding-top: 0.3125em;
  justify-content: center; }
  /* line 83, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer__license > ul > li {
    font-size: 1em; }
    /* line 85, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
    .footer__license > ul > li > a {
      color: #fff; }
      /* line 113, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
      .footer__license > ul > li > a:hover {
        text-decoration: underline; }

/* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer__social {
  display: flex;
  flex-wrap: wrap; }

/* line 99, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.social__link:hover {
  text-decoration: none; }
  /* line 102, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .social__link:hover .siw-1 {
    background-color: #4267b2; }
  /* line 103, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .social__link:hover .siw-2 {
    background-color: #1da1f2; }
  /* line 104, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .social__link:hover .siw-3 {
    background-color: #bc2a8d; }
  /* line 105, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .social__link:hover .siw-4 {
    background-color: #0072b1; }

/* line 110, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.social__icon {
  font-size: 1.0625em;
  padding: 0.4375em 0.625em 0.625em;
  border-radius: 50%;
  color: #fff; }
  /* line 116, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .social__icon__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1875em;
    height: 2.1875em;
    border-radius: 50%; }

@media (min-width: 576px) {
  /* line 129, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .visible-xs {
    display: block !important; } }

@media (min-width: 767px) {
  /* line 129, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .visible-xs {
    display: none !important; } }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.newsletter-section {
  background-color: #ddd;
  color: #333645; }

/* line 9, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form > h2 {
  font-weight: 400;
  margin-bottom: 0.8125em;
  font-size: 2em; }

/* line 15, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__input {
  height: 3.125em;
  padding: 0.3125em 0.9375em;
  border: 1px solid #e5e5e5;
  border-color: #ccc;
  border-radius: 2px;
  width: 100%;
  color: #555;
  font-size: 0.875em; }
  /* line 25, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
  .form__input:focus {
    outline: 0;
    border-color: #5bc0de;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6); }
  @media (min-width: 991px) {
    /* line 31, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
    .form__input__wrapper {
      display: flex;
      column-gap: 1.875em; } }

/* line 39, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__group {
  margin-bottom: 0.9375em; }
  @media (min-width: 991px) {
    /* line 39, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
    .form__group {
      min-width: 28.4375em; } }
  @media (min-width: 1259px) {
    /* line 39, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
    .form__group {
      min-width: 35.625em; } }

/* line 49, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__label {
  font-weight: 600;
  display: block;
  margin: 0 0 0.3125em; }

/* line 55, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__link {
  color: #333645;
  text-decoration: underline; }
  /* line 58, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
  .form__link:hover {
    color: #000; }

/* line 63, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__button {
  background-color: #333645;
  border: 1px solid #333645;
  border-radius: 0.1875em;
  line-height: 2.1875em;
  color: #fff;
  padding: 0.3125em 0.9375em;
  text-transform: uppercase;
  cursor: pointer; }

/* line 74, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form__checkbox {
  width: 1.875em;
  height: 1.875em;
  appearance: none;
  border: 3px solid #333645;
  border-radius: 3px;
  color: #fff; }
  /* line 81, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
  .form__checkbox:checked {
    background-color: #333645;
    appearance: auto; }

/* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.marketing__wrapper {
  display: flex; }
  @media (min-width: 991px) {
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
    .marketing__wrapper {
      width: 100%; } }

/* line 96, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.marketing__label {
  font-weight: 600;
  margin: 0 0 0.3125em;
  line-height: 1.875em; }

/* line 102, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.marketing__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.625em; }
  @media (min-width: 991px) {
    /* line 102, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
    .marketing__text {
      display: block;
      width: 73.125em; } }

/* line 113, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.marketing__checkbox {
  display: flex;
  width: 1.875em;
  height: 1.875em;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  /* line 121, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
  .marketing__checkbox:checked {
    background-color: #333645; }

/* line 127, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.required:after {
  content: ' *';
  color: red; }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_hero.scss */
.hero-section {
  background-image: url("../../img/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 550px; }

/* line 10, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_hero.scss */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

/* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_hero.scss */
.hero-text h1 {
  font-size: 2.5em;
  min-width: 500px;
  margin: 0 0 20px;
  text-align: center; }

/* line 26, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_hero.scss */
.hero-text p {
  margin: 0 50px 0;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center; }

/* line 7, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__heading {
  color: #333645;
  font-size: 2.7em; }

/* line 13, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__primary, .service__secondary {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 991px) {
    /* line 13, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__primary, .service__secondary {
      flex-direction: row;
      column-gap: 1.875em; } }

@media (min-width: 767px) {
  /* line 27, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
  .service__secondary {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.875em; } }

@media (min-width: 991px) {
  /* line 27, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
  .service__secondary {
    flex-wrap: wrap; } }

/* line 42, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__block {
  color: #333645; }

/* line 52, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.0625em;
  width: 4.0625em;
  border-radius: 50%; }

/* line 63, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__icon-1, .service__icon-2, .service__icon-3, .service__icon-4, .service__icon-5, .service__icon-6, .service__icon-7 {
  font-size: 1.875em;
  color: #fff; }

/* line 71, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__title {
  font-size: 1.3em;
  font-weight: 400; }

/* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__text {
  margin-bottom: 0.6875em;
  font-size: 0.8125em;
  line-height: 1.375em; }

/* line 86, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__btn {
  height: auto;
  line-height: 2.1875em;
  font-size: 1.0625em;
  text-transform: uppercase;
  padding: 0.3125em 0.9375em;
  color: #fff;
  border: 0.0625em solid transparent;
  border-radius: 0.1875em;
  cursor: pointer;
  margin-top: 0.3125em; }

/* line 90, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__1, .service__2, .service__3 {
  transition-property: background-color, color, transform;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #333645;
  border: 0.0625em solid #ccc;
  border-radius: 0.9375em;
  box-shadow: 0 0.1875em 2.1875em rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  padding: 1.875em;
  margin-top: 1.875em;
  min-height: 18.125em;
  max-width: 45em; }
  @media (min-width: 991px) {
    /* line 90, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__1, .service__2, .service__3 {
      width: 18.125em;
      height: 20.9375em; } }
  @media (min-width: 1259px) {
    /* line 90, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__1, .service__2, .service__3 {
      width: 23.125em; } }

/* line 106, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.service__4, .service__5, .service__6, .service__7 {
  transition-property: background-color, color, transform;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #333645;
  border: 0.0625em solid #ccc;
  border-radius: 0.9375em;
  box-shadow: 0 0.1875em 2.1875em rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
  padding: 1.875em;
  margin-top: 1.875em;
  min-height: 18.125em;
  max-width: 45em; }
  @media (min-width: 767px) {
    /* line 106, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__4, .service__5, .service__6, .service__7 {
      width: 21.5625em; } }
  @media (min-width: 991px) {
    /* line 106, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__4, .service__5, .service__6, .service__7 {
      width: 28.4375em; } }
  @media (min-width: 1259px) {
    /* line 106, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
    .service__4, .service__5, .service__6, .service__7 {
      width: 16.875em; } }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__1:hover {
  background-color: #67809f;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__1:hover > button {
    background-color: #fff;
    color: #67809f; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__1:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__1:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__1:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__1:hover > div > i {
      color: #67809f; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__2:hover {
  background-color: #4183d7;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__2:hover > button {
    background-color: #fff;
    color: #4183d7; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__2:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__2:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__2:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__2:hover > div > i {
      color: #4183d7; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__3:hover {
  background-color: #2ecc71;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__3:hover > button {
    background-color: #fff;
    color: #2ecc71; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__3:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__3:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__3:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__3:hover > div > i {
      color: #2ecc71; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__4:hover {
  background-color: #d64541;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__4:hover > button {
    background-color: #fff;
    color: #d64541; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__4:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__4:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__4:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__4:hover > div > i {
      color: #d64541; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__5:hover {
  background-color: #926fb1;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__5:hover > button {
    background-color: #fff;
    color: #926fb1; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__5:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__5:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__5:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__5:hover > div > i {
      color: #926fb1; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__6:hover {
  background-color: #f62459;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__6:hover > button {
    background-color: #fff;
    color: #f62459; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__6:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__6:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__6:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__6:hover > div > i {
      color: #f62459; }

/* line 69, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
.service__7:hover {
  background-color: #ce4125;
  transform: translate(0, -10px); }
  /* line 73, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__7:hover > button {
    background-color: #fff;
    color: #ce4125; }
  /* line 78, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__7:hover > h2 {
    color: #fff; }
  /* line 82, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__7:hover > p {
    transition-property: background-color, color, transform;
    transition-duration: 0.5s;
    color: #fff; }
  /* line 87, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
  .service__7:hover > div {
    background-color: #fff; }
    /* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/utilities/_mixins.scss */
    .service__7:hover > div > i {
      color: #ce4125; }

/* line 137, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-1, .sb-1 {
  background-color: #67809f; }

/* line 138, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-2, .sb-2 {
  background-color: #4183d7; }

/* line 139, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-3, .sb-3 {
  background-color: #2ecc71; }

/* line 140, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-4, .sb-4 {
  background-color: #d64541; }

/* line 141, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-5, .sb-5 {
  background-color: #926fb1; }

/* line 142, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-6, .sb-6 {
  background-color: #f62459; }

/* line 143, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_services.scss */
.sic-7, .sb-7 {
  background-color: #ce4125; }

/* line 6, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.clients-section {
  display: none; }

/* line 12, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.clients-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* line 20, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
[class^="client-"] {
  height: 2.8125em; }

@media (min-width: 767px) {
  /* line 27, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
  .clients-section {
    display: block; } }

/* line 36, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.client-1:hover {
  content: url(../../img/busseys-c.png); }

/* line 42, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.client-2:hover {
  content: url(../../img/crane-c.png); }

/* line 48, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.client-3:hover {
  content: url(../../img/beat-c.png); }

/* line 54, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_clients.scss */
.client-4:hover {
  content: url(../../img/northern-diver-c.png); }

/* line 8, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolades-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 0.9375em;
  flex-wrap: wrap;
  width: inherit; }

/* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-1:hover {
  content: url(../../img/GP-c.jpeg); }

/* line 25, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-2:hover {
  content: url(../../img/IIFG-c.jpeg); }

/* line 31, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-3:hover {
  content: url(../../img/PPC-c.jpeg); }

/* line 37, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-4:hover {
  content: url(../../img/ISO9001-c.jpeg); }

/* line 43, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-5:hover {
  content: url(../../img/ISO27001-c.jpeg); }

/* line 49, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_accolades.scss */
.accolade-6:hover {
  content: url(../../img/F50-c.jpeg); }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_reviews.scss */
.reviews-section {
  background-color: #333645;
  color: #fff; }

/* line 6, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_reviews.scss */
.review-wrapper, .welcome-wrapper {
  display: flex;
  flex-direction: column; }

/* line 12, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_reviews.scss */
.welcome-wrapper h1 {
  margin-bottom: 1.5625em; }

/* line 16, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_reviews.scss */
.welcome-wrapper p {
  margin-bottom: 1.5625em; }

/* line 22, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_reviews.scss */
.welcome-btn {
  width: fit-content;
  padding: 0.3125em 0.9375em;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */