/* line 12, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* line 22, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
body {
  margin: 0; }

/* line 28, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
main {
  display: block; }

/* line 35, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 46, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 55, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* line 65, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
a {
  background-color: transparent; }

/* line 72, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 80, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/* line 88, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 97, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
small {
  font-size: 80%; }

/* line 104, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 112, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 116, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 125, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
img {
  border-style: none; }

/* line 136, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/* line 150, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
input {
  overflow: visible; }

/* line 158, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 165, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/* line 174, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 184, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 193, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/* line 202, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 213, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
progress {
  vertical-align: baseline; }

/* line 219, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
textarea {
  overflow: auto; }

/* line 227, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 235, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 243, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 250, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 257, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* line 267, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
details {
  display: block; }

/* line 273, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
summary {
  display: list-item; }

/* line 282, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
template {
  display: none; }

/* line 288, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_normalize.scss */
[hidden] {
  display: none; }

/* line 2, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
* {
  box-sizing: border-box; }

/* line 5, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #666; }

/* line 12, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
ul {
  padding-left: 0;
  margin: 0; }

/* line 17, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
li {
  list-style: none; }

/* line 21, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
a {
  text-decoration: none; }

/* line 25, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/base/_base.scss */
h4 {
  font-weight: 400; }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.9375em; }

@media (max-width: 767px) {
  /* line 7, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 750px; } }

@media (min-width: 991px) {
  /* line 13, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 970px; } }

@media (min-width: 1259px) {
  /* line 19, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/layout/_container.scss */
  .container {
    max-width: 1200px; } }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
footer {
  color: #fff;
  background: #333645;
  padding: 2.9375em 0 2.6875em;
  line-height: 1.375em; }

/* line 8, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
footer h4 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 1.625em;
  font-size: 1em; }

/* line 15, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
footer a {
  color: #fff; }
  /* line 17, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  footer a:hover {
    text-decoration: underline; }

/* line 22, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
footer li {
  font-size: 13px; }

/* line 26, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

/* line 31, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.services, .offices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 14.0625em; }

/* line 36, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.service, .office {
  min-width: 14.0625em;
  margin-bottom: 1.875em; }

/* line 41, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.bottom {
  display: flex;
  border-top: 1px solid #888;
  justify-content: space-between;
  padding-top: 0.625em;
  margin-top: 0.625em;
  font-size: 0.8125em;
  margin-left: auto;
  margin-right: auto; }

/* line 51, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.license {
  display: flex;
  padding-top: 0.3125em;
  justify-content: center; }

/* line 58, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.social-links:hover {
  text-decoration: none; }

/* line 63, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.socials i {
  font-size: 1.125em;
  padding: 0.4375em 0.625em 0.625em;
  border-radius: 50%;
  text-align: center; }

/* line 71, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.fa-facebook-f:hover {
  background-color: #4267b2; }

/* line 77, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.fa-twitter:hover {
  background-color: #1da1f2; }

/* line 83, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.fa-instagram:hover {
  background-color: #bc2a8d; }

/* line 89, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
.fa-linkedin-in:hover {
  background-color: #0072b1; }

@media (max-width: 767px) {
  /* line 95, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .visible-xs {
    display: block !important; } }

@media (min-width: 991px) {
  /* line 101, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .visible-xs {
    display: none !important; } }

@media (min-width: 1259px) {
  /* line 107, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_footer.scss */
  .footer-row {
    justify-content: space-between; } }

/* line 1, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.newsletter {
  background-color: #ddd;
  color: #333645; }

/* line 6, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form {
  padding: 3.125em 0; }

/* line 10, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.required:after {
  content: ' *';
  color: red; }

/* line 15, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.newsletter h2 {
  font-weight: 400;
  margin: 0 0 0.9375em;
  font-size: 2em; }

/* line 21, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.newsletter label {
  font-weight: 600; }

/* line 25, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form-input {
  height: 2.9375em;
  padding: 0.3125em 0.9375em;
  border: 1px solid #e5e5e5;
  border-color: #ccc;
  border-radius: 2px;
  width: 100%;
  color: #555;
  font-size: 0.875em; }
  /* line 34, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
  .form-input:focus {
    outline: 0;
    border-color: #5bc0de;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6); }

/* line 43, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form-group {
  margin-bottom: 0.9375em; }

/* line 47, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
label, input {
  display: block; }

/* line 52, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.form-label {
  margin: 0 0 0.3125em; }

/* line 56, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.sign-up-inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/* line 62, ../../../Documents/Netmatters/HTML_CSS_Reflection/scss/module/_newsletter.scss */
.sign-up-input {
  flex: 1 1 28.125em; }

/*# sourceMappingURL=style.css.map */