// Media query mixin

@mixin mq($break) {
	@if $break == "small" {
		@media (min-width: $brkpoint-sm)  {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
			@content;
		}
	}
    @else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content;
		}
	}
	@else if $break == "x-large" {
		@media (min-width: $brkpoint-xl) {
			@content;
		}
	}
	@else {
		@error "Error: No value could be retrieved from argument $break: '#{$break}'"
	}
}

// auto margin

@mixin am() {
    margin-left: auto;
    margin-right: auto;
}

// flex container template

@mixin fwc() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// services icon formatting

@mixin icon-format() {
	font-size: em(20px);
	text-align: center;
    color: $white;
}

// services box formatting

@mixin service-format() {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: $white;
	color: $pauper;

	border: em(1px) solid $cerebral-grey;
	border-radius: em(15px);
	box-shadow: 0 em(3px) em(35px) rgba($black, .1);

	align-items: center;
	text-align: center;

	padding: em(30px);
	margin-top: em(30px);
	
	min-height: em(290px);
	max-width: em(720px);
	
}

