// This file contains mixins used throughout project

// Media query mixin

@mixin media-query($break) {
	@if $break == "small" {
		@media (min-width: $brkpoint-sm)  {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
			@content;
		}
	}
    @else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content;
		}
	}
	@else if $break == "x-large" {
		@media (min-width: $brkpoint-xl) {
			@content;
		}
	}
	@else {
		@error "Error: No value could be retrieved from argument $break: '#{$break}'";
	}
}

// auto margin for site container

@mixin am() {
    margin-left: auto;
    margin-right: auto;
}

// flex container template

@mixin flex-wrap-center() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// services section

@mixin service-format() {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $white;
	color: $pauper;
	border: em(1px) solid $cerebral-grey;
	border-radius: em(15px);
	box-shadow: 0 em(3px) em(35px) rgba($black, .1);
	align-items: center;
	text-align: center;
	padding: em(30px);
	margin-top: em(30px);
	min-height: em(290px);
	max-width: em(720px);
}

@mixin service-transition() {
	transition-property: background-color, color, transform;
	transition-duration: 0.5s;
}

@mixin service-hover-styles($service-color) {
	&:hover {
		background-color: $service-color;
		transform: translate(0, -10px);

		&>button {
			background-color: $white;
			color: $service-color;
		}

		&>h2{
			color: $white;
		}
		
		&>p {
			@include service-transition();
			color: $white;
		}

		&>div {
			background-color: $white;
			&>i {
				color: $service-color;
			}
		}
	} 
}

// Generic button styles (not associated with a single section)

@mixin button-styles {
	height: auto;
	line-height: em(35px);
	font-size: em(17px);
	text-transform: uppercase;
	padding: em(5px) em(15px);
	color: $white;
	border: em(1px) solid transparent;
	border-radius: em(3px);
	cursor: pointer;
	margin-top: em(5px);
}

// Footer section

@mixin footer-link-styles {
	color: $white;
	&:hover {
		text-decoration: underline;
	}
}

// News section

@mixin news-view-styles {
	& > a {
		font-size: em(26px);
		color: $pauper;
		font-weight: $font-weight--bold;

		&:hover {
			text-decoration: underline;
		}

		& > i {
			margin-left: em(5px);
		}
	}
}

// Navigation section

@mixin nav-custom-colours($color) {
	& > i {
		color: $color;
	}
	&:hover {
		background-color: $color;
	}
}

// Reviews section

@mixin review-custom-colours($color) {
	background-color: $color;
	&:hover {
		background-color: darken($color, 10%);
	}
}

// Clients section

@mixin client-info-visible($client) {
	.client__#{$client}-info {
		visibility: visible;
	}
	.info__square-#{$client} {
		visibility: visible;
	}
}


