// Media query mixin

@mixin mq($break) {
	@if $break == "small" {
		@media (max-width: $brkpoint-sm)  {
			@content;
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md) {
			@content;
		}
	}
    @else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content;
		}
	}
	@else {
		@error "Error: No value could be retrieved from argument $break: '#{$break}'"
	}
}

// auto margin

@mixin am() {
    margin-left: auto;
    margin-right: auto;
}

// flex container template

@mixin fwc() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// content padding 

