// Font stacks

$font-url--google: "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";
$font-family--primary: 'Poppins', sans-serif;

// Font weights

$font-weight--regular: 400;
$font-weight--bold: 600;

// Descriptive color names

$black: #000;
$white: #fff;
$stone-cold: #555;
$squant: #666;
$lucky-grey: #767676;
$argent: #888;
$smokey-stone: #999aa2;
$cerebral-grey: #ccc;
$silver-medal: #d6d6d6;
$steam: #ddd;
$sky-captain: #272936;
$ironbreaker-metal: #a3a8ac;

$pauper: #333645;
$cherry-velvet: #de093f;
$cute-crab: #d64541;
$red-pink: #f62459;
$juneberry: #79539a;
$violet-frog: #926fb1;
$seljuk-blue: #4387f6;
$matt-blue: #286abd;
$magical-merlin: #4183d7;
$luxe-blue: #526781;
$bay-view: #67809f;
$fennel-fiesta: #00b67b;
$ufo-green: #2ecc71;
$militant-vegan: #25a25a;
$orange: #ffa500;
$jaipur: #a3331d;
$underpass-shrine: #ce4125;
$ginshu: #bc2c28;

// Text

$base__font-size : 16px;
$letter-space: .4px;


// Breakpoints
$brkpoint-sm: 767px;
$brkpoint-md: 991px;
$brkpoint-lg: 1259px;