.container {
    @include am();
    padding: 0 em(15px);
}

@include mq(medium) {
    .container {
        max-width: 750px;
    }
}

@include mq(large) {
    .container {
        max-width: 970px;
    }
}

@include mq(x-large) {
    .container {
        max-width: 1200px;
    } 
}

.section {
    padding-top: em(50px);
    padding-bottom: em(50px);
}