// Base styles
* {
    box-sizing: border-box;
}

html {
    line-height: 1.1;
}

body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    letter-spacing: $letter-space;
    color: $pauper;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}
