// Base styles

body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    letter-spacing: $letter-space;
    color: $squant;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

h4 {
    font-weight: $font-weight--regular;
}

