// This file contains all styling for the accolades section
// For now instead of carousel just 6 static images. They still have their hover states.

// Creates a flex container for the accolades to sit in. 
// This make it fairly responsive for the time being until carousel is implemented using JS.

.accolades-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 em(15px);
    flex-wrap: wrap;
    width: inherit;

    & > img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);

        &:hover {
            -webkit-filter: grayscale(0);
            filter: none;
        }    
    }
}