// This file contains all styling for the accolades section
// For now instead of carousel just 6 static images. They still have their hover states.

// Creates a flex container for the accolades to sit in. 
// This make it fairly responsive for the time being until carousel is implemented using JS.

.accolades {
    &-wrapper {
        margin: 0 em(15px);
        width: inherit;
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.slick-slide {
    width: 100px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    &:hover {
        -webkit-filter: grayscale(0);
        filter: none;
    }     
}

