// This partial contains all styling for the clients section

// Removes the section by default as is hidden on smaller screens

.clients-section {
    display: none;
    @include media-query(medium) {
        display: block;
    }
}

// Creating a flex container that holds the images (clients)

.client {
    &__wrapper {
        height: em(45px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-query(large) {
            height: em(50px);
        }
        @include media-query(x-large) {
            height: em(70px);
        }
    }

    &-1 {
        &:hover {
            content: url(../../img/busseys-c.png);
        }
    }

    &-2 {
        &:hover {
            content: url(../../img/crane-c.png);
        }
    }

    &-3 {
        &:hover {
            content: url(../../img/beat-c.png) 
        }
    }

    &-4 {
        &:hover {
            content: url(../../img/northern-diver-c.png) 
        }
    }
 

}
