// This partial contains all styling for the clients section
// For mixins used please see _mixins.scss

// Removes the section by default as is hidden on smaller screens

.clients-section {
    margin-top: em(-230px);
    display: none;
    @include media-query(medium) {
        display: block;
    }
}

// Styling for the div which represents the arrow underneath client info div

.info__square {
    &-1, &-2, &-3, &-4 {
        visibility: hidden;
        background-color: $pauper;
        width: em(50px);
        height: em(50px);
        transform: rotate(45deg) translate(-20px, -20px);
        z-index: -1;
    }
}

.client {

    // Container for clients

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // Styling for client images

    &-1, &-2, &-3, &-4 {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        height: em(40px);

        &:hover {
            -webkit-filter: grayscale(0);
            filter: none;
        }

        @include media-query (large) {
            height: em(50px)
        }

        @include media-query (x-large) {
            height: em(70px);
        }
    
    }

    // Styling for client containers (holding both image and info div)

    &__1, &__2, &__3, &__4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            visibility: hidden;
            background-color: $pauper;
            color: $white;
            text-align: center;
            padding: em(15px);

            & > h3 {
                font-size: em(18px);
            }

            & > h6 {
                font-size: em(30px);
            }

            & > p {
                font-size: em(13px);
                line-height: em(22px);
                font-weight: $font-weight--bold;
            }
        }
    }

    // When hovered over, show the client information

    &__1:hover {@include client-info-visible(1);}
    &__2:hover {@include client-info-visible(2);}
    &__3:hover {@include client-info-visible(3);}
    &__4:hover {@include client-info-visible(4);}
}

