// Mixins holding repeated styles:
@mixin contact-heading-wrapper-styles () {
    height: inherit;
    display: flex;
    align-items: center; 
}

@mixin contact-heading-text-styles () {
    font-size: em(36px);
    font-weight: $font-weight--regular;
}

@mixin location-link-hover-styles () {
    &:hover {
        text-decoration: underline;
        text-decoration-color: inherit;
    }
}

//---------------------------------------------------------------------------------

// The breadcrumb navigation bar:
.breadcrumb {
    // The outer container:
    &__section {
        display: none;
        height: em(46px);
        color: $pauper;
        border-top: 1px solid $black;
        box-shadow: 0 5px 35px rgba(0,0,0,.1);

        @include media-query(medium) {
            display: block;
        }

        @include media-query(large) {
            border: none;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The text: " / Our Offices":
    &__text { font-size: em(13px); }

    // The link: "Home":
    &__link {
        font-weight: $font-weight--bold;
        color: inherit;
        &:hover { text-decoration: underline; }
    }
}

// The page heading on smaller screens:
.xs__heading {
    // The outer container:
    &__section {
        height: em(90px);
        color: $white;
        background-color: $pauper;
        margin-bottom: em(80px);

        @include media-query(large) {
            display: none;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The page heading:
    &__title { @include contact-heading-text-styles(); }
}

// The page heading on larger screens:
.xl__heading {
    // The outer container:
    &__section {
        display: none;
        height: em(140px);

        @include media-query(large) {
            display: block;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The page heading:
    &__title { @include contact-heading-text-styles(); }
}

// The location section:
.location {
    &__section {
        height: fit-content;
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: em(710px);
        border: 1px solid $cerebral-grey;
        border-bottom-right-radius: em(15px);
        border-bottom-left-radius: em(15px);

        & > img { width: 100%; }
    }

    &__content { 
        padding: 30px; 
    }

    &__title {
        margin-bottom: em(15px);
        font-size: em(18px);
        color: $pauper;

        & > a {
            color: inherit;
            @include location-link-hover-styles();
        }
    }

    &__address {
        margin-bottom: em(20px);
        font-size: em(13px);
        color: $squant;

        & > li { margin-bottom: em(10px); }
    } 
        

    &__phone {
        font-weight: $font-weight--bold;
        color: $violet-frog;
        font-size: em(26px);
        @include location-link-hover-styles();
    }

    &__btn {
        color: $white;
        text-transform: uppercase;
        font-size: em(15px);
        height: em(50px);
        width: em(155px);
        margin-top: em(15px);
        background-color: $violet-frog;
        border: 1px solid transparent;
        border-radius: em(3px);
        cursor: pointer;

        &:hover {
            background-color: darken($violet-frog, 10%);
        }
    }
}