// Mixins holding repeated styles:
@mixin contact-heading-wrapper-styles () {
    height: inherit;
    display: flex;
    align-items: center; 
}

@mixin contact-heading-text-styles () {
    font-size: em(36px);
    font-weight: $font-weight--regular;
}

@mixin link-hover-styles () {
    &:hover {
        text-decoration: underline;
        text-decoration-color: inherit;
    }
}

@mixin form-input-styles () {
    background-color: #fff;
    padding: em(5px) em(15px);
    border: 1px solid $silver-medal;
    border-color: $cerebral-grey;
    border-radius: 2px;
    color: $stone-cold;
    font-size: em(14px);

    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        outline: 0;
        border-color: $input-border;
        box-shadow: inset 0 1px 1px rgba($black, .075), 0 0 8px rgba($input-border, .6);
    }
}

//---------------------------------------------------------------------------------

// The breadcrumb navigation bar:
.breadcrumb {
    // The outer container:
    &__section {
        display: none;
        height: em(46px);
        color: $pauper;
        border-top: 1px solid $black;
        box-shadow: 0 5px 35px rgba(0,0,0,.1);

        @include media-query(medium) {
            display: block;
        }

        @include media-query(large) {
            border: none;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The text: " / Our Offices":
    &__text { font-size: em(13px); }

    // The link: "Home":
    &__link {
        font-weight: $font-weight--bold;
        color: inherit;
        &:hover { text-decoration: underline; }
    }
}

// The page heading on smaller screens:
.xs__heading {
    // The outer container:
    &__section {
        height: em(90px);
        color: $white;
        background-color: $pauper;
        margin-bottom: em(80px);

        @include media-query(large) {
            display: none;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The page heading:
    &__title { @include contact-heading-text-styles(); }
}

// The page heading on larger screens:
.xl__heading {
    // The outer container:
    &__section {
        display: none;
        height: em(140px);

        @include media-query(large) {
            display: block;
        }
    }

    // The inner container:
    &__wrapper { @include contact-heading-wrapper-styles(); }

    // The page heading:
    &__title { @include contact-heading-text-styles(); }
}

// The location section:
.location {
    &__section {
        height: fit-content;
        display: flex;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include media-query(large) {
            margin-top: em(30px);
            flex-direction: row;
            column-gap: em(30px);
        }
    }
    
    &__group {
        display: flex;
        flex-direction: column;
    }
    

    &__item {
        display: flex;
        flex-direction: column;
        max-width: em(710px);
        border: 1px solid $cerebral-grey;
        border-bottom-right-radius: em(15px);
        border-bottom-left-radius: em(15px);
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
        transition-property: transform;
        transition-duration: 0.5s;
        
        & > img { width: 100%; }

        &:hover{ transform: translate(0, -10px); }
    }

    &__content { 
        padding: 30px; 
    }

    &__title {
        margin-bottom: em(15px);
        font-size: em(18px);
        color: $pauper;

        & > a {
            color: inherit;
            @include link-hover-styles();
        }
    }

    &__address {
        margin-bottom: em(20px);
        font-size: em(13px);
        color: $squant;

        & > li { margin-bottom: em(10px); }
    } 
        

    &__phone {
        font-weight: $font-weight--bold;
        color: $violet-frog;
        font-size: em(26px);
        @include link-hover-styles();
    }

    &__btn {
        color: $white;
        text-transform: uppercase;
        font-size: em(15px);
        height: em(50px);
        width: em(155px);
        margin-top: em(15px);
        background-color: $violet-frog;
        border: 1px solid transparent;
        border-radius: em(3px);
        cursor: pointer;

        &:hover {
            background-color: darken($violet-frog, 10%);
        }
    }

    &__map {
        max-width: em(710px);
        margin-bottom: em(25px);

        & > img {
            width: 100%;

            &:first-child {
                @include media-query (large) {
                    display: none;
                }
            }

            &:last-child {
                display: none;
                @include media-query (large) {
                    display: block;
                }
                @include media-query (x-large) {
                    height: 90%;
                }
            }
        }
    }
}

.info {

    &__form__container {
        display: flex;
        flex-direction: column;
        @include media-query(x-large) {
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;
            column-gap: em(30px);
        }

    }

    &__content {
        & > p:first-child {
            margin-top: 0;
        }
    }
    


    &__wrapper {
        padding-left: 5px;

        @include media-query(large) {
            padding-left: 0;
        }
    }

    &__btn {
        font-weight: $font-weight--bold;
        margin-bottom: em(30px);
        @include link-hover-styles();
        cursor: pointer;
    }

    &__dropdown {

        & > p:first-child, p:last-child {
            line-height: em(30px);
            color: $squant;
            font-weight: $font-weight--regular;
        }

        & > p:first-child {
            margin-top: 0;
        }
    }
        
    &__text {
        font-weight: $font-weight--bold;
        margin-bottom: em(35px);
        margin-top: em(35px);
    }

    &__hours {
        font-weight: $font-weight--bold;
        margin-bottom: em(20px);
        margin-top: em(20px);
    }

    &__email {
        color: $violet-frog;
        font-weight: $font-weight--bold;
        font-size: em(26px);

        @include link-hover-styles();
    }
}

.enquiry {
    &__form {
        padding: em(30px);
        height: fit-content;
        max-width: em(720px);
        background-color: $form-background;
        margin-bottom: em(40px);
        border-radius: 15px;

        @include media-query (large) {
            width: em(940px);
        }    

        @include media-query (x-large) {
            width: em(770px);
        }        
    }

    &__group {
        &-flex {
            display: flex;
            flex-direction: column;
            @include media-query (large) {
                flex-direction: row;
                column-gap: em(30px);
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &-inline {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__input {
        @include form-input-styles();

        height: em(52px);
        margin-top: em(10px);
        margin-bottom: em(30px);
        width: 100%;
    }

    &__area {
        margin-bottom: em(15px);
        width: 100%;
        margin-top: em(10px);
        resize: none;

        @include form-input-styles();
    }

    &__required {
        font-size: em(14px);
        margin-top: em(30px);
        &:before {
            content: '*';
            color: red;
        }
    }

    &__label {
        font-weight: $font-weight--bold;
        &-1, &-2 {
            font-weight: $font-weight--bold;
            margin-left: em(50px);
        }
    }

    &__submit {
        background-color: $violet-frog;
        border: 1px solid $violet-frog;
        width: em(145px);
        margin-top: em(30px);
        border-radius: em(3px);
        line-height: em(35px);
        color: $white;
        font-size: em(18px);
        padding: em(5px) em(15px);
        text-transform: uppercase;
        cursor: pointer;

        &:hover { background-color: darken($violet-frog, 10%); }
    }

    &__error {
        background-color: #f2dede;
        color: #a94442;
        border: 1px solid #ebccd1;
        padding: em(15px);
        margin-bottom: em(20px);

    }

    &__success {
        background-color: #def2de;
        color: #42a942;
        border: 1px solid #ccebcc;
        padding: em(15px);
        margin-bottom: em(20px);
    }
    
}

.required:after {
    content: ' *';
    color: red;
}
