footer {
    color: $white;
    background: $pauper;
    padding: em(47px) 0 em(43px);
    line-height: em(22px);
}

footer h4 {
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: em(26px); 
    font-size: em(16px);
}

footer a {
    color: $white;
    &:hover {
        text-decoration: underline;
    }
}

footer li {
    font-size: 13px;
}

.footer-row {
    @include fwc();
    @include am();
}

.services, .offices {
    @include fwc();
    min-width: em(225px);
}

.service, .office {
    min-width: em(225px);
    margin-bottom: em(30px);
}

.bottom {
    display: flex;
    border-top: 1px solid $argent;
    justify-content: space-between;
    padding-top: em(10px);
    margin-top: em(10px);
    font-size: em(13px);
    @include am();
}

.license {
    display: flex;
    padding-top: em(5px);
    justify-content: center;
}

.social-links {
    &:hover {
        text-decoration: none;
    }
}

.socials i {
    font-size: em(18px);
    padding: em(7px) em(10px) em(10px);
    border-radius: 50%;
    text-align: center;
    width: em(14.4px);
}

.fa-facebook-f {
    &:hover {
        background-color: $facebook;
    }
}

.fa-twitter {
    &:hover {
        background-color: $twitter;
    }
}

.fa-instagram {
    &:hover {
        background-color: $instagram;
    }
}

.fa-linkedin-in {
    &:hover {
        background-color: $linkedin;
    }
}

@include mq(small) {
    .visible-xs {
        display: block!important;
    }
}

@include mq(medium) {
    .visible-xs {
        display: none!important;
    }
}

@include mq(large) {
    .footer-row {
        justify-content: space-between;
    }
}




