footer {
    color: $white;
    background: $pauper;
    padding: em(47px) 0 em(43px);
    line-height: em(22px);
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services, .offices {
    display: flex;
    min-width: em(225px);
    flex-wrap: wrap;
    justify-content: center;
}

.service, .office {
    min-width: em(225px);
    margin-bottom: em(30px);
}

.bottom {
    display: flex;
    border-top: 1px solid $argent;
    justify-content: space-between;
    padding-top: em(10px);
    margin-top: em(10px);
    font-size: em(13px);
    max-width: 1200px;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
}

.license {
    display: flex;
    padding-top: em(5px);
    justify-content: center;
    
}

@include mq(small) {
    .visible-xs {
        display: block!important;
    }
}

@include mq(medium) {
    .visible-xs {
        display: none!important;
    }
}

@include mq(large) {
    .visible-xs {
        display: none!important;
    }
}




