// This file contains styling for the header section

.header {
    padding-top: em(20px);
    padding-bottom: em(18px);
    height: em(170px);
    background-color: $white;

    @include media-query (medium) {
        height: em(110px);
    }

    // Container that holds the logo, buttons and search bar 

    &__top-row {
        margin-bottom: em(8px);
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > a > img {   
            max-width: 100%;
            @include media-query (medium) {
                max-height: em(60.2px);
            }
            @include media-query (large) {
                max-height: em(65px);
            }
        }
    }

    // Container for the logo

    &__logo-link {
        margin-right: auto;
        align-self: center;
    }

    // Container for the phone icon

    &__phone-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: em(10px);
        margin-left: em(20px);
        height: em(40px);
        width: em(35px);

        &:hover {
            border-bottom: 1px solid $pauper;
            height: em(41px);
        }

        & > i {
            color: $pauper;
            font-size: em(25px);
            transform: rotate(-45deg);
        }

        @include media-query (medium) {
            display: none;
        }
    }

    // Common styles for the support and contact buttons

    &__contact-btn, &__support-btn {
        display: none;
        height: em(50px);
        width: em(130px);
        margin-top: em(6px);
        margin-left: em(18px);
        text-transform: uppercase;
        font-size: em(18px);
        padding: 0;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        color: $white;

        @include media-query(large) {
            display: block;
        }

        & > i {
            color: $white;
            font-size: em(20px);
            margin-right: em(5px);
            transform: translateY(2px);
        }
    }

    // Indvidial colour styling for support and contact buttons

    &__contact-btn {
        background-color: $smokey-stone;

        &:hover {
            background-color: darken($smokey-stone, 10%);
        }
    }

    &__support-btn {
        background-color: $magical-merlin;

        &:hover {
            background-color: darken($magical-merlin, 10%);
        }
    }

    // Container for the large search bar on mobile devices

    &__bottom-row {
        position: relative;
        & > a {
            color: $pauper;

            @include media-query (medium) {
                display: none;
            }
            & > i {
                position: absolute;
                right: 0;
                transform: translate(-10px, 13px);
                font-size: em(20px);
            }
        }
    }

    // Styling for search bars and buttons

    &__search {

        // Styles large search bar (bottom row)

        &-lg {
            width: 100%;
            height: em(53px);
            background-color: $silver-medal;
            padding: em(5px) em(40px) em(5px) em(15px);
            border: 2px solid $cerebral-grey;
            color: $squant;
            box-shadow: inset 0 1px 1px rgba($color: $black, $alpha: 0.08);
            font-size: em(14px);
            line-height: 1.42857143;

            &:focus {
                outline: 0;
            }

            @include media-query (medium) {
                display: none;
            }
        }

        // Styles small search bar (top row)

        &-sm {
            display: none;
            width: em(198px);
            height: em(64px);
            padding: em(5px) em(15px);
            margin-top: em(8px);
            border: 1px solid $cerebral-grey;
            box-shadow: inset 0 1px 1px rgba($color: $black, $alpha: 0.08);
            background-color: $white;
            font-size: em(14px);

            &:focus {
                outline: 0;
                border-color: $input-border;
                box-shadow: 0 0 8px rgba($color: $input-border, $alpha: 0.6);
            }

            @include media-query (medium) {
                display: block;
            }

            @include media-query (large) {
                display: none;
            }

            @include media-query (x-large) {
                display: block;
                margin-left: em(25px);
                width: em(275px);
            }

            // Styles small search bar button (top row)

            &-btn {
                display: none;
                height: em(56px);
                width: em(63px);
                margin-top: em(7px);
                border: none;
                background-color: $smokey-stone;
                border-bottom-right-radius: em(3px);
                border-top-right-radius: em(3px);
                padding-left: em(5px);
                cursor: pointer;

                @include media-query (medium) {
                    display: block;
                }

                @include media-query (large) {
                    border-radius: 3px;
                    margin-left: em(20px);
                }

                @include media-query (x-large) {
                    margin-left: 0;
                    border-radius: 0;
                    border-bottom-right-radius: em(3px);
                    border-top-right-radius: em(3px);
                }

                &:hover {
                    background-color: darken($smokey-stone, 10%);
                }
                
                & > i {
                    color: $white;
                    font-size: em(23px);
                }
                
            }
            
        }
    }
    
    // Styles hamburger menu button
    
    &__menu-btn {
        height: em(56px);
        width: em(63px);
        background-color: $pauper;
        border: none;
        cursor: pointer;
        border-radius: em(3px);
        margin-top: em(7px);
        margin-left: em(20px);
        margin-bottom: em(15px);
        padding: em(5px) em(15px);

        &:hover {
            background-color: darken($pauper, 10%);
        }

        & > i {
            color: $white;
            font-size: em(36px);
        }
    }
}

.header__wrapper {
    z-index: 2;
}