.hero-section {
    background-image: linear-gradient(to right, $black, transparent), url("../img/hero.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 550px;
}

.hero {

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: em(175px) 0;
        text-align: center;
        color: $white;

        @include media-query(large) {
            text-align: left;
            padding: em(100px) 0;
        }

        @include media-query(x-large) {
            padding: em(150px) 0;
        }
    }


    &__title {
        font-size: em(40px);
        margin-bottom: em(5px);

        @include media-query (large) {
            font-size: em(64px);
            margin-bottom: em(10px);
        }
    }

    &__subtitle {
        font-size: em(20px);
        font-weight: $font-weight--bold;

        @include media-query (large) {
            font-size: em(26px);
            width: 100%;
        }
    }
}

