// This file contains styling for the navigation section
// For mixins used please see _mixins.scss

// Sets base styles for navigation bar and hides on smaller screen sizes

.navigation {
    display: none;
    background-color: $pauper;
    color: $white;
    height: em(100px);

    @include media-query (large) {
        display: block;
    }
}

// Styles for the navigation elements

.nav {

    // Container for the nav bar

    &__wrapper {    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: $pauper;
    }

    // Styles the drop down menu when hovered over

    &__dropdown {
        display: none;
        margin-top: em(22px);
        z-index: 1;
        border-bottom-left-radius: em(10px);
        border-bottom-right-radius: em(10px);

        &-1 {background-color: darken($bay-view, 10%);}
        &-2 {background-color: darken($magical-merlin, 10%);}
        &-3 {background-color: darken($ufo-green, 10%);}
        &-4 {background-color: darken($cute-crab, 10%);}
        &-5 {background-color: darken($violet-frog, 10%);}
        &-6 {background-color: darken($red-pink, 10%);}
        &-7 {background-color: darken($underpass-shrine, 10%);}

        & > ul > li {
            padding: em(10px) em(15px);
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    // Styles nav menu items

    &__item {
        padding-top: em(15px);
        display: flex;
        flex-direction: column;
        width: em(135px);
        height: em(100px);
        color: $white;

        @include media-query (x-large) {
            width: em(170px);
        }

        &:hover {
            & > i {
                color: $white;
            }
            .nav__dropdown {
                display: flex;
                justify-content: center;
            }
        }

        & > i {
            font-size: em(20px);
            margin-bottom: em(10px);
        }

        & > h2 {
            font-size: em(10px);
            text-transform: uppercase;
        }

        & > p {
            font-size: em(18px);
            text-transform: uppercase;
        }

        &-1 {@include nav-custom-colours($bay-view);}
        &-2 {@include nav-custom-colours($magical-merlin);}
        &-3 {@include nav-custom-colours($ufo-green);}
        &-4 {@include nav-custom-colours($cute-crab);}
        &-5 {@include nav-custom-colours($violet-frog);}
        &-6 {@include nav-custom-colours($red-pink);}
        &-7 {@include nav-custom-colours($underpass-shrine);}
    }
}