// This file contains styling for the newsletter section
// For mixins used please see _mixins.scss

// Newsletter section base styles

.newsletter-section {
    background-color: $steam;
    color: $pauper;
}

// Main form styles

.form {
    & > h2 {
        font-weight: $font-weight--regular;
        margin-bottom: em(13px);
        font-size: em(32px);
    }

    &__input {
        height: em(50px);
        padding: em(5px) em(15px);
        border: 1px solid $silver-medal;
        border-color: $cerebral-grey;
        border-radius: 2px;
        width: 100%;
        color: $stone-cold;
        font-size: em(14px);

        &:focus {
            outline: 0;
            border-color: $input-border;
            box-shadow: inset 0 1px 1px rgba($black, .075), 0 0 8px rgba($input-border, .6);
        }

        &__wrapper {
            @include media-query(large) {
                display: flex;
                column-gap: em(30px);
            }
        }   
    }

    &__group {
        margin-bottom: em(15px);
        @include media-query(large) {
            min-width: em(455px);
        }
        @include media-query(x-large) {
            min-width: em(570px);
        }
    }

    &__label {
        font-weight: $font-weight--bold;
        display: block;
        margin: 0 0 em(5px);
    }

    &__link {
        color: $pauper;
        text-decoration: underline;
        &:hover {
            color: $black;
        }     
    }

    &__button {
        background-color: $pauper;
        border: 1px solid $pauper;
        border-radius: em(3px);
        line-height: em(35px);
        color: $white;
        padding: em(5px) em(15px);
        text-transform: uppercase;
        cursor: pointer;
    }

    &__checkbox {
        width: em(30px);
        height: em(30px);
        appearance: none;
        border: 3px solid $pauper;
        border-radius: 3px;
        color: $white;
        &:checked {
            background-color: $pauper;
            appearance: auto;
        }
    }
}

// Marketing section styles

.marketing {
    &__wrapper {
        display: flex;
        @include media-query(large) {
            width: 100%;
        }
    }

    &__label {
        font-weight: $font-weight--bold;
        margin: 0 0 em(5px);
        line-height: em(30px);
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: em(10px);
        @include media-query(large) {
            display: block;
            width: em(1170px);
        }
    }

    &__checkbox {
        display: flex;
        width: em(30px);
        height: em(30px);
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: em(10px);
        &:checked {
            background-color: $pauper;
        }
    }
}

// Displays the red asterisk after required form field labels

.required:after {
    content: ' *';
    color: red;
}