.newsletter {
    background-color: $steam;
    color: $pauper;
}

.form {
    padding: em(50px) 0;
}

.required:after {
    content: ' *';
    color: red;
}

.newsletter h2 {
    font-weight: $font-weight--regular;
    margin: 0 0 em(15px);
    font-size: em(32px);
}

.newsletter label {
    font-weight: $font-weight--bold;
}

.form-input {
    height: em(47px);
    padding: em(5px) em(15px);
    border: 1px solid $silver-medal;
    border-color: $cerebral-grey;
    border-radius: 2px;
    width: 100%;
    color: $stone-cold;
    font-size: em(14px);
    &:focus {
        outline: 0;
        border-color: $input-border;
        box-shadow: inset 0 1px 1px rgba($black, .075), 0 0 8px rgba($input-border, .6);
    }
}



.form-group {
    margin-bottom: em(15px);
}

label, input {
    display: block;
}


.form-label {
    margin: 0 0 em(5px);
}

.sign-up-inputs-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sign-up-input {
    flex: 1 1 em(450px);
}

@include mq(small) {

}