// This file contains styling for the review section
// For mixins used please see _mixins.scss

// Basic styling for review section

.reviews-section {
    background-color: $pauper;
    color: $white;
    margin-bottom: em(10px);
    padding-top: em(50px);
    padding-bottom: em(25px);

    @include media-query (large) {
        padding-bottom: 0;
    }
}

// Content styling

.reviews {

    // Container for the reviews section content

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include media-query (large) {
            flex-direction: row;
            column-gap: em(30px)
        }
    }

    // Review button stylings

    &__btn {
        &-1, &-2, &-3 {
            @include button-styles();
            font-size: em(20px); 
        }

        &-2, &-3 {
            width: fit-content;
        }

        &-1 {
            @include review-custom-colours($sky-captain);
            width: em(170px);
            margin-bottom: em(40px);
        }

        &-2 {
            @include review-custom-colours($seljuk-blue);
        }

        &-3 {
            @include review-custom-colours($fennel-fiesta);
        }
        
    }
}

// Content styling

.welcome {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: em(36px);
        margin-bottom: em(20px);
    }

    &__text {
        &-1, &-2, &-3 {
            line-height: em(30px);
            font-size: em(16px);
            margin-bottom: em(25px);
        }

        &-1 {
            font-weight: $font-weight--bold;
            & > a {
               color: $white;
               &:hover {
                text-decoration: underline;
               } 
            }
        } 
    }
}

// Content styling

.review {

    // Styles buttons under the client review

    &__btn__container {
        display: flex;
        flex-direction: column;
        row-gap: em(15px);
        column-gap: em(20px);

        @include media-query (small) {
            flex-direction: row;
        }

        @include media-query (large) {
            flex-direction: column;
        }

        @include media-query (x-large) {
            flex-direction: row;
        }
    }

    // Container for the review

    &__wrapper {
        display: flex;
        flex-direction: column;
        & > h1 {
            font-size: em(36px);
            margin-bottom: em(20px);
        }

        & > div {
            margin-bottom: (25px);
            & > i {
                font-size: em(45px);
                color: $orange;
            }
        }
    }

    // Styles review text

    &__text {
        font-size: em(20.8px);
        font-style: italic;
        font-weight: $font-weight--bold;
        line-height: em(25px);
        margin-bottom: em(25px);
    }

    // Styles review author

    &__author {
        font-size: em(17.6px);
        color: $ironbreaker-metal;
        font-weight: $font-weight--bold;
        margin-bottom: em(25px);
    } 
}