// This partial contains styles for the services section
// For any mixins used, please see _mixins.scss


.service {
    // "Our services" section heading
    &__heading {
        color: $pauper;
        font-size: em(43.2px);
    }

    // The two flex containers holding 3 and 4 items respectively
    &__primary, &__secondary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        // When breakpoint reached, change flex direction, add column gap
        @include media-query(large) {
            flex-direction: row;
            column-gap: em(30px);
        }
    }

    //  When breakpoint reached, set the secondary services to wrap
    
    &__secondary {

        @include media-query(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: em(30px);
        }

        @include media-query(large) {
            flex-wrap: wrap;
        }
    }

    // Overrides the default text colours within the link

    &__block {
        color: $pauper;
    }

    // Service icons

    &__icon {

        // Service icon wrapper common styles

        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: em(65px);
            width: em(65px);
            border-radius: 50%;
        }

        // Service icons

        &-1, &-2, &-3, &-4, &-5, &-6, &-7 {
            font-size: em(30px);
            color: $white;
        }
    }

    // Service title

    &__title {
        font-size: em(20.8px);
        font-weight: $font-weight--regular;
    }

    // Service description

    &__text {
        margin-bottom: em(11px);
        font-size: em(13px);
        line-height: em(22px);
    }

    // Service buttons common styles

    &__btn {@include button-styles();}

    // Handles all 3 items in the primary container

    &__1, &__2, &__3 {
        @include service-transition();
        @include service-format();

        @include media-query(large) {
            width: em(290px);
            height: em(335px)
        }

        @include media-query(x-large) {
            width: em(370px);
        }
    }

    // Handles all 4 items in the secondary container

    &__4, &__5, &__6, &__7  {
        @include service-transition();
        @include service-format();

        @include media-query(medium) {
            width: em(345px);
        }

        @include media-query(large) {
            width: em(455px);
        }

        @include media-query(x-large) {
            width: em(270px);
        }
    }

    // Hover states for all services

    &__1 {@include service-hover-styles($bay-view);}
    &__2 {@include service-hover-styles($magical-merlin);}
    &__3 {@include service-hover-styles($ufo-green);}   
    &__4 {@include service-hover-styles($cute-crab);}
    &__5 {@include service-hover-styles($violet-frog);}
    &__6 {@include service-hover-styles($red-pink);}
    &__7 {@include service-hover-styles($underpass-shrine);}
}

// sic (service icon wrapper) and sb (service button) individual stylings

.sic, .sb {
    &-1 {background-color: $bay-view;}
    &-2 {background-color: $magical-merlin;}
    &-3 {background-color: $ufo-green;}
    &-4 {background-color: $cute-crab;}
    &-5 {background-color: $violet-frog;}
    &-6 {background-color: $red-pink;}
    &-7 {background-color: $underpass-shrine;}
}