.sidemenu {
    display: none;
    color: $white;
    background-color: $pauper;
    min-width: em(350px);
    height: 100vh;
    overflow-y: scroll;
    text-transform: uppercase;

    &__list {
    }

    &__category {
        padding: em(20px);
        border-top: 1px solid rgba(0, 0, 255, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    &__item {
        font-size: em(14px);
        background-color: rgba(0,0,0, .25);
        padding: em(15px) em(20px);
        border-top: 1px solid rgba(0, 0, 255, .1);
        &::before {
            content: '\BB';
            padding-right: em(15px);
        }
    }

    
}